@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Inter:wght@400;700&display=swap');
/* Main Base Stuff for all pages */

body {
    font-family: "Anonymous Pro", sans-serif;
    background-color: lightgray;
    color: #231F20;
}

p, li, ol {
    font-family: "Inter", sans-serif;
}

header h1 {
    letter-spacing: 2px;
    font-weight: bold;
}

/* Basic blocks rules */

header, nav, footer, section, div.content {
    max-width: 1080px;
    margin: auto;
    padding: 15px 30px;
}

header.top {
    background-color: #7EBDC2;
    font-size: x-large;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 30px;
    border-bottom: #231F20 solid 1px;
}

nav {
    background-color: #BB4430;
    font-size: large;
    text-align: center;
    border-bottom: #231F20 solid 1px;
}

footer {
    background-color: #F3DFA2;
    font-size: x-small;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
    clear: left;
    border-top: #231F20 solid 1px;
}

#copyright {
    text-align: center;
}

/* Navigtaion bar */

nav {
    position: sticky;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a:visited {
    color: #231F20;
}

nav a:link {
    color: #231F20;
    text-decoration: none;
}

nav a:hover {
    color: #EFE6DD;
}

nav a.selected {
    color: #EFE6DD;
    text-shadow: #231F20 1px 1px;
}

/* Logo image rules */

img.welcome_img {
    height: 250px;
    border-radius: 50%;
    transition: all 200ms ease-out;
}

img.welcome_img:hover {
    box-shadow: 0 0 5px 5px #F3DFA2 ;
}

/* All section/div rules */

section, div {
    background-color: #EFE6DD;
}

section.intro {
    background-color: #F3DFA2;
    border-bottom: #231F20 solid 1px;
}

section.content img {
    display: block;
    margin: 20px auto 0px auto;
    max-width: 100%;
    height: 500px;
    align-self: center;
}

/* CSS Table */

div.tableContainer {
    display: table;
    border-spacing: 10px;
    width: 100%;
    padding: 0;
}

div.tableRow {
    display: table-row;
}

div.tableCell {
    display: table-cell;
}

/* Bio */

section.themes ul {
    list-style-type: none;
}

/* Cases & Articles */

div.case_intro {
    float: left;
    max-width: 100%;
}

article div.case_intro img {
    margin: 20px 10px 10px 0px;
    max-width: 100%;
    height: auto;
    width: auto;
}

article {
    display: flex;
    clear: left;
    padding: 20px 0px;
}

div.case_article {
    padding: 70px 0px 0px 20px;
}

/* 
section.cases {
    padding-bottom: 40px;
}

section.cases article {
    clear: left;
}

span.case_intro {
    clear: left;
    display: inline-block;
}

span.case_article {
    clear: left;
} */




/* CV */

div.left-side {
    width: 30%;
    text-align: left;
}

div.right-side {
    width: 70%;
    text-align: left;
    padding-left: 20px;
    vertical-align: 0%;
}

div.avatar_container {
    position: relative;
    text-align: center;
}

div.avatar_text {
    color: #EFE6DD;
    font-size: 15px;
    text-shadow: #231F20 2px 2px 4px;
    position: absolute;
    left: 50%;
    top: 90%;
    background-color: transparent;
    transform: translate(-50%, -50%);
}

div.skill_container {
    background-color: rgb(192, 192, 192); 
    width: 100%; 
    border-radius: 15px;
}

.skill { 
    background-color: #BB4430; 
    color: white; 
    padding: 0; 
    text-align: right; 
    font-size: 15px;
    border-radius: 15px;
    padding-right: 3px;
} 

.management { 
    width: 80%; 
} 

.release {
    width: 60%;
}

.front_dev { 
    width: 15%; 
}

.webdev {
    width: 50%;
}

.russian {
    width: 100%;
}

.english {
    width: 90%;
}