@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&family=Inter:wght@400;700&display=swap');
/* Main Base Stuff for all pages */

body {
    font-family: "Anonymous Pro", sans-serif;
    background-color: lightgray;
    color: #231F20;
}

p {
    font-family: "Inter", sans-serif;
}

header h1 {
    letter-spacing: 1px;
    font-weight: bold;
}

/* Basic blocks rules */

header, nav, footer, section {
    max-width: 1080px;
    margin: auto;
    padding: 15px 30px;
}

header.top {
    background-color: #7EBDC2;
    font-size: x-large;
    text-align: center;
    border-radius: 20px 20px 0px 0px;
    margin-top: 30px;
}

nav {
    background-color: #BB4430;
    font-size: large;
    text-align: center;
    border-top: #231F20 solid 1px;
    border-bottom: #231F20 solid 1px;
}

div.main {
    background-color: #F3DFA2;
    font-size: medium;
    text-align: left;
}

footer {
    background-color: #F3DFA2;
    font-size: x-small;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 10px;
}

#copyright {
    text-align: center;
}

/* Navigtaion bar */

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav a:visited {
    color: #231F20;
}

nav a:link {
    color: #231F20;
}

nav a:hover {
    color: #EFE6DD;
    font-weight: bolder;
}

/* Image rules */

img.welcome_img {
    height: 250px;
    border-radius: 50%;
    border: #F3DFA2 outset 1.5px;
    box-shadow: 15px 25px 10px #231F20 ;
}

/* The section section */

section {
    background-color: #EFE6DD;
    border-bottom: #231F20 solid 1px;
}

/* Cases */
